aside {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid #f2f3f3;
}

aside a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}

aside a:hover {
  text-decoration: underline;
}

main {
  margin-left: 160px; /* Same as the width of the aside */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  aside {padding-top: 15px;}
  aside a {font-size: 18px;}
}