<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/css/a.css" rel="stylesheet" />
		<link href="https://unpkg.com/@primer/css@20.8.0/dist/primer.css" rel="stylesheet" crossorigin="anonymous" />

		<title>{{ page.title }}</title>
	</head>
	<body>
		<input type="checkbox" id="nav-toggle" class="nav-toggle" />

		<aside>
			{% include toc.html %}

			<footer>
				<a href="https://github.com/DKorablin">My GitHub</a>
				<div>Built on {{ site.time | date: "%d.%m.%Y %H:%M:%S" }}</div>
			</footer>
		</aside>

		<label for="nav-toggle" class="nav-overlay"></label>

		<main>
			<label for="nav-toggle" class="nav-burger">
				<span></span>
				<span></span>
				<span></span>
			</label>
			{{ content }}
		</main>
	</body>
</html>